@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
html {
  background: url("assets/pramod-tiwari-uKs5NivqYwo-unsplash.jpg") no-repeat
    center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  margin: 0;
  padding: 1%;
}

.box-of-logo {
  width: max-content;
  height: max-content;
  padding: 2em;
  background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%);
  border: 0.5px solid #d3d3d3;
  border-radius: 15px;
}

.box-of-logo img {
  width: 3em;
}

/* WeatherInfos.js design */
.box-of-weather > .weather {
  background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%);
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  margin: auto;
  width: 65%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  padding-left: 1%;
  padding-right: 1%;
}
.box-of-weather > .weather > .box-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5em;
  color: #ffffff;
  float: left;
}
.box-of-weather > .weather > .box-date-and-time-infos {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  float: right;
}

.container {
  background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%);
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  display: flex;
  width: 60%;
  margin: auto;
  padding: 2%;
}

.container > .column-1 {
  width: 100%;
  margin: auto;
}
.container > .column-1 > .main-container > .row {
  display: flex;
}
.container > .column-1 > .main-container > .row > .first-column {
  flex-shrink: 0;
  flex-basis: 50%;
}
.container > .column-1 > .main-container > .row > .second-column {
  flex-shrink: 0;
  flex-basis: 50%;
}

.container > .column-1 > .search-container > .search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ffffff;
  border: 0.5px solid #bbbbbb;
  box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.01), 0px 4px 2px rgba(0, 0, 0, 0.05),
    0px 2px 2px rgba(0, 0, 0, 0.09), 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.container > .column-1 > .search-container > .search-box + label .search-icon {
  color: black;
}
.container > .column-1 > .search-container > .search-box:hover {
  box-shadow: 0 0 0 1px #797979;
}

.container > .column-1 > .search-container > .search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s,
    background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 40%;
  height: 40px;
  border-radius: auto;
  background: #ffffff;
  color: black;
}
.container
  > .column-1
  > .search-container
  > .search-box:focus
  + label
  .search-icon {
  color: black;
}
.container > .column-1 > .search-container > .search-box:not(:focus) {
  text-indent: -5000px;
}

.container > .column-1 > .search-container > label > i {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

.main-container {
  text-align: center;
}
.main-container > .row > .first-column > .city > .temperature {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  color: #ffffff;
  text-align: center;
}

.main-container > .row > .first-column > .city > .name-of-city-and-country {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}

.main-container > .row > .second-column > .column-2-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.main-container > .row > .second-column > .detail-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}
.main-container > .row > .second-column > .detail-one > .name-of-parameter {
  float: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: #ffffff;
}
.main-container > .row > .second-column > .detail-one > .value-of-parameter {
  float: right;
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  color: #ffffff;
}

/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */

/* Responsive code of web app */
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}

/* Responsive code for mobile devices viewport */
@media screen and (max-width: 480px) {
  .container > .column-1 > .main-container > .row {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .box-of-weather > .weather {
    background: linear-gradient(
      180deg,
      #d9d9d9 0%,
      rgba(217, 217, 217, 0) 100%
    );
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    margin: auto;
    width: 65%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
  }
  .box-of-weather > .weather > .box-title {
    font-size: 20px;
  }
  .box-of-weather > .weather > .box-date-and-time-infos {
    font-size: 20px;
  }

  .container > .column-1 > .search-container >.search-box:focus {
    width: 65%;
  }

  .main-container > .row > .first-column > .city > .temperature {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
  }
  
  .main-container > .row > .first-column > .city > .name-of-city-and-country {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 72px;
    text-align: center;
    color: #ffffff;
  }
  
  .main-container > .row > .second-column > .column-2-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
  }
  .main-container > .row > .second-column > .detail-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
  }
  
  
}
